<p id="notice"><%= notice %></p>

<p>
  <b>Sbdx member:</b>
  <%= @entry.sbdx_member %>
</p>

<p>
  <b>Sbdx member entry:</b>
  <%= @entry.sbdx_member_entry_identifier %>
</p>

<p>
  <b>Date missing:</b>
  <%= @entry.date_missing %>
</p>

<p>
  <b>Date recovered:</b>
  <%= @entry.date_recovered %>
</p>

<p>
  <b>Date abandoned:</b>
  <%= @entry.date_abandoned %>
</p>

<p>
  <b>Neighborhood:</b>
  <%= @entry.neighborhood %>
</p>

<p>
  <b>City:</b>
  <%= @entry.city %>
</p>

<p>
  <b>State:</b>
  <%= @entry.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @entry.zip %>
</p>

<p>
  <b>Country:</b>
  <%= @entry.country %>
</p>

<p>
  <b>Brand:</b>
  <%= @entry.brand %>
</p>

<p>
  <b>Year:</b>
  <%= @entry.year %>
</p>

<p>
  <b>Model:</b>
  <%= @entry.model %>
</p>

<p>
  <b>Color:</b>
  <%= @entry.color %>
</p>

<p>
  <b>Size:</b>
  <%= @entry.size %>
</p>

<p>
  <b>Serial number:</b>
  <%= @entry.serial_number %>
</p>

<p>
  <b>Owner name:</b>
  <%= @entry.owner_name %>
</p>

<p>
  <b>Circumstances:</b>
  <%= @entry.circumstances %>
</p>

<p>
  <b>Bicycle description:</b>
  <%= @entry.bicycle_description %>
</p>

<p>
  <b>Reward:</b>
  <%= @entry.reward %>
</p>

<p>
  <b>Info url:</b>
  <%= @entry.info_url %>
</p>

<p>
  <b>Sighting report url:</b>
  <%= @entry.sighting_report_url %>
</p>

<p>
  <b>Sighting report instructions:</b>
  <%= @entry.sighting_report_instructions %>
</p>

<p>
  <b>Photo 1 url:</b>
  <%= @entry.photo_1_url %>
</p>

<p>
  <b>Photo 2 url:</b>
  <%= @entry.photo_2_url %>
</p>

<p>
  <b>Photo 3 url:</b>
  <%= @entry.photo_3_url %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
